<h1>Welcome to my Links</h1>

<p>
	This page is a test to see whether I can successfully route pages and enter in links to some of my social networking sites 
</p>

<p>
<%= link_to "Facebook", "https://www.facebook.com/the.eman.chan" %> - This is my facebook page. 
</p>

<p>
<%= link_to "Linkedin", "http://www.linkedin.com/pub/emmanuel-chan/42/94/808" %> - This is my linkedin page.
</p>